<app-applicationpannel [appid]="appId" [ctrl_1]="ctrl_1"></app-applicationpannel>
<div [ngSwitch]="country">
    <div *ngSwitchCase=70>
       <app-demographics-pl #child1></app-demographics-pl>
    </div>
    <div *ngSwitchCase=44>
        <app-demographic-ru></app-demographic-ru>
    </div>
    <div *ngSwitchDefault>
      <app-demographics-pl #child1></app-demographics-pl>
      <app-demographic-ru></app-demographic-ru>
    </div>
</div>
<div  style="width: 100%;text-align: center;bottom: 0px;">
  <div style="margin-top: 30px;">
    <button class="btn btn-default">User Fields</button>
    <button class="btn btn-default">Memo</button>
    <button class="btn btn-default">Doc Check List</button>
    <button class="btn btn-default">Refuse Application</button>
    <button class="btn btn-default"(click)="child1.save()">Save</button>
    <button class="btn btn-default"(click)="child1.next()">Next</button>
    </div>   
</div>
