
<form class="form-horizontal" style="margin-top: 30px;text-align: left">
  <h4 style="font-weight: bold">Application Summary</h4>
  <div class="form-group">
    <label for="applicationId" class="col-md-2">ApplicationId</label>
    <div class="col-md-2">
      <label  id="applicationId">{{ApplicationPannel.applicationId}}</label>
    </div>
    <label for="aplicationName" class="col-md-2">ApplicationName</label>
    <div class="col-md-2">
      <label id="aplicationName" >{{ApplicationPannel.applicationName}}</label>
    </div>
    <label for="ApplicationCIN" class="col-md-2">ApplicationCIN</label>
    <div class="col-md-2">
      <label id="ApplicationCIN" >{{ApplicationPannel.applicationCIN}}</label>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-md-2">Original POS</label>
    <div class="col-md-2">
      <label id="OriginalPOS">{{ApplicationPannel.originalPos}}</label>
    </div>
    <label for="Stage" class="col-md-2">Stage</label>
    <div class="col-md-2">
      <label  id="Stage" >{{ApplicationPannel.stage}}</label>
    </div>
    <label for="Status" class="col-md-2">Status</label>
    <div class="col-md-2">
      <label id="Status">{{ApplicationPannel.status}}</label>
    </div>
  </div>
</form>
